RewriteEngine On

# redirige a la URL que corresponde
RewriteCond %{THE_REQUEST} \s\?page=([^\s&]+) [NC]
RewriteRule ^ index.php?page=%1 [R=301,L]

# redirige /gestion o /gestion/...
RewriteRule ^gestion/(topicos|asignacion)$ index.php?page=gestion&sub=$1 [L,QSA]

# redirige /articulo/...
RewriteRule ^articulo/([0-9]+)$ index.php?page=articulo&id_articulo=$1 [L,QSA]

# redirige /editar/...
RewriteRule ^editar/([0-9]+)$ index.php?page=editar&id_articulo=$1 [L,QSA]

# redirige ?page=...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?page=$1 [L,QSA]

# bloquea los componentes de las paginas para que no se puedan acceder
RewriteCond %{REQUEST_URI} \.[^.]+\.view\.php$ [NC]
RewriteRule .* - [F,L]

# ubicacion del index
DirectoryIndex index.php

DirectoryIndex index.php
ErrorDocument 404 /404