.buscar-container {
    display: flex;
    flex-direction: column;
}

.filtro-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem;

    display: grid;
    border-top: 1px solid var(--font-color);
    transform: translateY(500px);

    transition: transform 0.3s ease;
}

.filtro-container-activo {
    transform: translateY(0px);
}