.buscar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.filtro-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem;
    z-index: 70;

    display: grid;
    border-top: 1px solid var(--font-color);
    transform: translateY(100%);

    transition: transform 0.3s ease;
}

.filtro-container-activo {
    transform: translateY(0px);
}

#filtro-form {
    display: grid;
    gap: 1rem;
}

#filtro-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: #00000090;
    height: 200vh;
    width: 200vw;
    z-index: 69;

    display: none;
}

.filtro-overlay-activo {
    display: block !important;
}


#resultados-busqueda {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.articulo-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--font-color);
    border-radius: var(--default-border-radius);

    height: fit-content;

    cursor: pointer;
    overflow-x: hidden;
}

.articulo-preview:hover a {
    text-decoration: underline;
}

.articulo-preview-tr {
    overflow-x: hidden;
}

.articulo-preview > div {
    border-bottom: 1px solid var(--font-color);
} 
.articulo-preview > div:last-child {
    border-bottom: none;
}

.articulo-preview-tr, .articulo-preview-fecha, .articulo-preview-tr, .articulo-preview-etiquetas {
    display: flex;
    flex-direction: column;
    padding: var(--font-size);
}

.articulo-preview-etiquetas {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.articulo-preview-tr h2 {
    font-size: calc(var(--font-size)*1.2);
}
.articulo-preview-tr p {
    font-size: calc(var(--font-size)*0.9);
}
.articulo-preview-fecha p {
    font-size: 12px;
}

.articulo-preview h2 span svg {
    height: var(--font-size);
    width: var(--font-size);
    fill: var(--font-color);
}

.buscar-filtros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-end;
}

@media (min-width: 900px) {
    .filtro-container {
        transform:
            translateX(-100%);
        width: 55%;
        height: calc(100% - 63px);
        border-top: none;
        border-right: 1px solid var(--font-color);
    }

    .filtro-container-activo {
        transform:
            translateX(0px);
    }

    #filtro-form {
        display: grid;
        gap: 1rem;
    }

    #resultados-busqueda {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    #resultados-busqueda {
        grid-template-columns: 1fr 1fr 1fr;
    }
}