:root {
  --bg-color : #000;
  --bg-color2 : #ffffff09;
  --font-color : #fff;
  --color2 : #ffffff20;
  --font-size : 16px;
  --default-px : 20px;
}

* {
  font-family: "Special Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.35;
  letter-spacing: 0.25px;
  background-color: unset;
  border-spacing: 0;
}

.no-overflow {
  overflow: hidden;
}

a:hover {
  text-decoration: underline;
}

h1 {
  line-height: 0.95;
  letter-spacing: -0.5px;
  font-size: calc(var(--font-size)*2);
  text-transform: uppercase;
  font-weight: 500;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  padding: var(--default-px);
  border-bottom: 1px solid var(--font-color);
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav {
  display: flex;
  margin: auto;
  gap: var(--font-size);
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}

.sub-nav {
  display: flex;
  gap: var(--default-px);
  overflow: hidden;
}

.sub-nav a, .sub-nav span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--font-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-px)*0.5);
  padding: var(--default-px) calc(var(--default-px)*1.5);
  max-width: 1500px;
  margin: auto;
}

input, .input {
  border: 1px solid var(--font-color);
  padding:calc(var(--default-px)/2) var(--default-px) calc(var(--default-px)/2)  var(--default-px) ;
  width: 100%;
}

.input {
  resize: none;
  min-height: 200px;
  height: 100%;
}

input:focus, .input:focus {
  border: 2px solid var(--font-color);
}

.error {
  display: none;
  font-size: 0.8rem;
}

.error-message {
    font-size: 0.8rem;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: calc(var(--default-px)*1.5);
  border: 1px solid var(--font-color);
  width: 100%;
  max-width: 500px;
}

.menu form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: var(--bg-color2); */
}

.menu h1 {
  margin: auto;
}

.btn, button {
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid var(--font-color);
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover, button:hover {
  background-color: var(--font-color);
  color: var(--bg-color)
}

.border_max {
  border-radius: calc(var(--default-px)/2);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  height: 20px;
  width: 20px;
  border-radius: 999px;
  border: 2px solid var(--font-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--font-color);
}